<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <%= render 'problem' %>
                </div>
                <div class="col-md-4">
                    <br/>
                    <%= link_to 'Proposer mon aide', new_problem_resolution_path(@problem), class: "btn btn-primary" %>
                </div>    
            </div>
        </div>
    </div>
</div>