<p>Bonjour <%= @user.fullname %> !</p>

<p>Quelqu'un est prêt à vous aider à résoudre votre problème : <%= link_to @problem.problem_type, @problem %>.</p>

<p>Commencez à discuter avec cette personne sur AltR !</p>
