<div class="container">
  <div class="row">
    <p>
      Je m’appelle Antoine et j’ai 25 ans. diplômé de l’ESSEC il y a un an, j'ai longtemps voulu trouver l'idée de l'énième appli qui tue, puis j'ai travaillé en Suisse dans une entreprise de marketing. J'y ai oublié mes envies personnelles, mon besoin d'aider les autres. La seule chose qui m'intéressait était le confort de mon couple. Je m'étais oublié moi-même.
    </p>
  
    <p>
      Puis, je me suis malheureusement retrouvé sans travail, sans copine, sans logement, j'ai quitté la Suisse. J'ai alors cherché des conseils pour surmonter mes problèmes. Non pas comment trouver un covoiturage ou louer mon appartement dont je m'absentais... Ces problèmes que les applis résolvent habituellement. Non, je voulais résoudre mes VRAIS problèmes.
    </p>
  
    <p>
      J'ai cherché quelqu'un à qui parler. Mais on ne peut pas tout dire à nos proches, et leur avis est souvent biaisé. Sinon, payer les conseils d'un psy est coûteux.
    </p>
  
    <p>
      J'ai ressenti le besoin de parler de ce qui n'allait pas, et j'ai constaté les difficultés pour le faire dans notre société.
    </p>
  
    <p>
      Je n'avais plus besoin d'une appli qui tue, il me fallait une appli qui sauve.<br>
      C'est alors que l'idée d'AltR a germé.
    </p>
  
    <p>
      Puis j'ai dû constater que seul, il était difficile de monter un projet. C’est d’ailleurs la philosophie d’AltR de se servir de l’altérité pour avancer. Et pour moi, c’est grâce à l’altérité que j'allais pouvoir mener à bien cette application.
    </p>
  
    <p>
      C'est ainsi que j'ai rencontré Cyril, self-made man de 28 ans qui développe aussi bien les applications et sites internet que des sentiments bienveillants envers les autres. Ca crevait les yeux, il était mon développeur altruiste tant recherché.
    </p>
  
    <p>
      Aujourd’hui nous sommes donc deux. Mais AltR ne pourra fonctionner que grâce aux utilisateurs qui accepteront d’aider : les AltRuistes. Ce sont eux les vrais acteur d’AltR.
    </p>
  </div>
</div>