<footer class="footer">
  <div class="container">
    <div class="row">
      <%= link_to "A propos", a_propos_url %> | <a href="mailto:contact@alt-r.fr">Contactez-nous pour contribuer / nous aider</a>
    </div>
  </div>
</footer>